@(points: List[actors.ProcessActor.Point])(implicit flash: Flash)

@main() {

    <div id="map" class="row">
        <canvas id="canvas" class="col-xs-12" style="position: fixed; z-index: 9999; float: left;"></canvas>
        <img id="mapping" class="col-xs-12" src="/location/technopark_0" />
    </div>

    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "#FF0000";

        $(document).ready( function() {
            var w = $("#mapping").width();
            var h = $("#mapping").height();

            canvas.width = w;
            canvas.height = h;

            console.log(w);
            console.log(h);

            ctx.fillStyle = "red";

            @for(p <- points){ctx.fillRect(w*@p.x-5, h*@p.y-5, 10, 10);
            }

        });


    </script>

}
